<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css"
	href="../static/styles/Landing.css">
</head>
<body>
	<nav id="navBar">
		<a href="login_register.html">Home</a> <a href="login_register.html">Login</a>
		<a href="Contact.html">Contact Us</a>
	</nav>
	<h1>Star Wars</h1>
	<div>
		<img alt=""
			src="https://images.pexels.com/photos/8956544/pexels-photo-8956544.jpeg?auto=compress&cs=tinysrgb&w=1600"
			class=center width="600px" height="400px"> <img alt=""
			src="https://media.tenor.com/W527m-M03y8AAAAM/dankata.gif"
			class="center">


	</div>
	<div>
		<table class="swTable">
			<tbody>
				<tr>
					<th scope="col">Movies</th>
					<th scope="col">Series</th>
					<th scope="col">Characters</th>
				</tr>

				<tr>
					<td>A new hope</td>
					<td>OBI-WAN Kenobi</td>
					<td>Luke Skywalker</td>
				</tr>
				<tr>
					<td>Return of the Jedi</td>
					<td>Mandalorian</td>
					<td>Princess Leia</td>
				</tr>


				<tr>
					<td>The empire strikes back</td>
					<td>The book of robo fet</td>
					<td>Han Solo</td>
				</tr>
			</tbody>
		</table>
	</div>
	<footer>
		<p>Star Wars Resources:</p>
		<ul>
			<li><a href="https://www.imdb.com/list/ls068055646/">Watch
					Star Wars in chronological order</a></li>
			<!-- opens link in same window -->
			<li><a href="https://www.starwars.com/">Star Wars Official
					Site</a></li>
			<li><a href="https://en.wikipedia.org/wiki/Star_Wars">About</a></li>
	
		</ul>
	</footer>
</body>
</html>